<!-- /snippets/breadcrumb.liquid -->
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}

<nav class="breadcrumb nav-link-animated--custom" aria-label="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
  <span class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <a class="animated-link--item" href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}" itemprop="item">
      <span class="label-font" itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
      <meta itemprop="position" content="1" />
    </a>
  </span>

  {% if template contains 'product' %}

     {%- liquid
        if collection == blank
          assign collection = product.collections | first
        endif
      -%}

    {% if collection.url %}
      <span class="breadcrumb-divider" aria-hidden="true">/</span>
      <span class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="animated-link--item" href="{{ collection.url }}" title="{{ collection.title }}" itemprop="item">
          <span class="label-font" itemprop="name">{{ collection.title }}</span>
          <meta itemprop="position" content="2" />
        </a>
      </span>
    {% endif %}
    {% comment %}
    <span class="breadcrumb-divider" aria-hidden="true">/</span>
    <span class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="animated-link--item" href="{{ product.url }}" title="{{ product.title }}" itemprop="item">
          <span class="label-font" itemprop="name">{{ product.title }}</span>
          <meta itemprop="position" content="3" />
        </a>
    </span>
    {% endcomment %}

  {% elsif template contains 'collection' and collection.handle %}

    <span class="breadcrumb-divider" aria-hidden="true">/</span>
    {% if current_tags %}
      <span class="breadcrumb-item">
        <a class="animated-link--item" href="{{ collection.url }}" title="{{ collection.title }}">
          <span class="label-font">{{ collection.title }}</span>
        </a>
      </span>
      <span class="breadcrumb-divider" aria-hidden="true">/</span>
      <span class="breadcrumb-item">{{ current_tags | join: " + " }}</span>
    {% endif %}

    <span class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="animated-link--item" href="{{ collection.url }}" title="{{ collection.title }}" itemprop="item">
          <span class="label-font" itemprop="name">{{ collection.title }}</span>
          <meta itemprop="position" content="2" />
        </a>
    </span>

  {% elsif template.name == 'blog' %}

    <span class="breadcrumb-divider" aria-hidden="true">/</span>
    {% if current_tags %}
      <span class="breadcrumb-item">
        <a class="animated-link--item" href="{{ blog.url }}" title="{{ blog.title }}">
          <span class="label-font">{{ blog.title }}</span>
        </a>
      </span>
      <span class="breadcrumb-divider" aria-hidden="true">/</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% endif %}

    <span class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="animated-link--item" href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
          <span class="label-font" itemprop="name">{{ blog.title }}</span>
          <meta itemprop="position" content="2" />
        </a>
    </span>

  {% elsif template.name == 'article' %}

    <span class="breadcrumb-divider" aria-hidden="true">/</span>
    <span class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a class="animated-link--item" href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
        <span class="label-font" itemprop="name">{{ blog.title }}</span>
        <meta itemprop="position" content="2" />
      </a>
    </span>

    {% comment %}
    <span class="breadcrumb-divider" aria-hidden="true">/</span>

    <span class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="animated-link--item" href="{{ article.url }}" title="{{ article.title }}" itemprop="item">
          <span class="label-font" itemprop="name">{{ article.title }}</span>
          <meta itemprop="position" content="3" />
        </a>
    </span>
    {% endcomment %}

  {% elsif template contains 'page' %}

    <span class="breadcrumb-divider" aria-hidden="true">/</span>
    <span class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a class="animated-link--item" href="{{ page.url }}" title="{{ page.title }}" itemprop="item">
        <span class="label-font" itemprop="name">{{ page.title }}</span>
        <meta itemprop="position" content="2" />
      </a>
    </span>

  {% else %}



  {% endif %}
</nav>
