{%- liquid

  case settings.product_image_size
    when 'natural'
      assign aspect_ratio = 'natural'
    when 'square'
      assign aspect_ratio = 'square'
    when 'landscape'
      assign aspect_ratio = 'landscape'
    when 'portrait'
      assign aspect_ratio = 'portrait'
  endcase

-%}

<div class="collection--image ci image_{{ aspect_ratio }}">
  <a href="{{ collection.url }}" title="{{ collection_title }}">
    {% if collection.image %}
      {% render 'basic-responsive-image', type: collection, width: 800 %}
    {% elsif collection.products.first and collection.products.first.media != empty %}
      {% render 'basic-responsive-image', type: collection.products.first.featured_media, width: 800 %}
    {% else %}
    {% endif %}
  </a>
</div>
<div class="collection__item--details">
  <h3{% unless title_bold %} class="body--text"{% endunless %}>
    <a href="{{ collection.url }}" title="{{ collection_title }}">
      {{ collection.title }}
    </a>
  </h3>
</div>
