<div id="logo" class="sm-span-6 md-span-8 auto {{ logo_width }} {{ section.settings.logo_position }}">
{% if section.settings.logo != blank %}
  <div class="first_logo">
    <a href="{{ routes.root_url }}">
      {{ section.settings.logo | image_url: width: 500 | image_tag }}
    </a>
  </div>
  {% if section.settings.logo_alt != blank %}
    {%- assign image_size = '400x' -%}
    <div class="second_logo">
      <a href="{{ routes.root_url }}">
        {{ section.settings.logo_alt | image_url: width: 500 | image_tag }}
      </a>
    </div>
  {% endif %}
{% else %}
  <a href="{{ routes.root_url }}">{{ shop.name }}</a>
{% endif %}
</div>
