{%- liquid 
    assign fontsize_text = block.settings.fontsize_text
    assign fontsize_text_mb = block.settings.fontsize_text_mb
    assign color_title = block.settings.color_title
-%}
{%- if check_show_share == '3' -%}
    <div class="halo-share-3">
        <h1 class="productView-title" 
            style="--color-title: {{ color_title }};
            --fontsize-text: {{ fontsize_text | append: 'px' }};
            --fontsize-mb-text: {{ fontsize_text_mb | append: 'px' }};"
        >
            <span>
                {{ product.title | escape }}
            </span>
        </h1>
        {% render 'halo-share',
            product: product,
            share_product_type: share_product_type,
            share_product_script: share_product_script,
            share_layout: check_show_share
        %}
    </div>
{%- else -%}
    <h1 class="productView-title" 
        style="--color-title: {{ color_title }};
        --fontsize-text: {{ fontsize_text | append: 'px' }};
        --fontsize-mb-text: {{ fontsize_text_mb | append: 'px' }};"
    >
        <span>
            {{ product.title | escape }}
        </span>
    </h1>
    <!-- Yotpo Star Ratings | Snippets > product-title.liquid -->
    <div class="yotpo-widget-instance" data-yotpo-instance-id="654685" data-yotpo-product-id="{{product.id}}" data-yotpo-cart-product-id="{{item.product.id}}" data-yotpo-section-id="{{template.name}}"></div>
    <!-- END Yotpo Star Ratings -->
{%- endif -%}
