{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<link rel="stylesheet" href="{{asset_url_rev}}revolution.addon.transitionpack.css?ver=6.5.6.16" type="text/css" />
                <div class = "" id="revslider_foot_fashion-shop-slider1">
			<!-- START Homepage Slider REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="home-hero-slider_wrapper" data-source="gallery" style="visibility:hidden;background:#bfbfbf;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="home-hero-slider" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-36" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_background.png" data-anim="ms:500ms;" data-in="o:0;e:none;" data-out="e:none;" data-d3="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_background.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:100% 100%;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-3-slide-36-layer-1" 
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:8;background-color:#b21f6d;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s4_background.png" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-6" 
								data-type="shape"
								data-xy="xo:50px;yo:50px;"
								data-text="w:normal;c:both;"
								data-flcr="c:both;"
								data-dim="w:100%;h:10px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_999="o:0;st:w;sR:8700;"
								style="z-index:14;"
							> 
							</rs-layer><!--

							--><p
								id="slider-3-slide-36-layer-9" 
								class="rs-layer"
								data-type="text"
								data-tsh="h:4px;v:4px;b:3px;"
								data-xy="xo:19px,22px,1px,-21px;yo:222px,198px,166px,150px;"
								data-text="w:normal;s:31,26,20,22;l:33,38,29,29;fw:700;"
								data-dim="w:622px,469px,401px,429px;h:48px,auto,auto,auto;"
								data-rsp_o="off"
								data-btrans="rZ:-6;"
								data-clip="u:true;"
								data-frame_0="y:0,0px,0px,0px;o:1;cp:0%;"
								data-frame_1="x:37px,50px,50px,50px;y:-33px,-34px,-34px,-34px;e:power4.inOut;st:200;sp:1000;sR:200;"
								data-frame_999="st:w;sR:7800;auto:true;"
								style="z-index:13;font-family:'Poppins';"
							>Vibrating Silicone Super Ring 
							</p><!--

							--><a
								id="slider-3-slide-36-layer-10" 
								class="rs-layer rev-btn"
								href="/collections/pipedream-products" target="_self"
								data-type="button"
								data-xy="xo:-116px,-144px,-145px,87px;yo:389px,340px,302px,311px;"
								data-text="w:normal;s:21,21,15,13;l:21,21,15,13;ls:3;"
								data-dim="minh:0,none,none,none;"
								data-rsp_o="off"
								data-padding="t:15,15,15,13;r:31,31,31,26;b:15,15,15,13;l:31,31,31,26;"
								data-border="bor:6px,6px,6px,6px;"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:155px,155px,155px,130px;y:-28px,-28px,-28px,-24px;e:power4.inOut;st:300;sp:1000;sR:300;"
								data-frame_999="st:w;sR:7700;auto:true;"
								data-frame_hover="sX:1.05;sY:1.05;bgc:#000;bor:0px,0px,0px,0px;sp:100ms;e:power1.inOut;"
								style="z-index:12;background-color:#411d5b;font-family:'Poppins';text-transform:uppercase;cursor:pointer;"
							>Shop now<i class="material-icons" style="margin-left:10px;">arrow_forward</i> 
							</a><!--

							--><rs-layer
								id="slider-3-slide-36-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:334px,30px,30px,40px;y:b,b,b,t;yo:415px,30px,30px,165px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:148px,122px,92px,56px;h:234px,193px,146px,90px;"
								data-clip="u:true;o:t;"
								data-frame_0="cp:0%;"
								data-frame_1="o:0.05;e:power4.inOut;st:900;sp:1000;sR:900;"
								data-frame_999="st:w;sR:7100;auto:true;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/stripepattern.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-13" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:524px,393px,300px,-335px;y:t,t,t,b;yo:334px,302px,234px,280px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:178px,146px,110px,93px;h:103px,85px,64px,79px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s4_xoxo.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-14" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:553px,458px,344px,-397px;y:t,t,t,b;yo:7px,-11px,-1px,107px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:114px,94px,71px,93px;h:151px,124px,94px,79px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s4_accent_2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-15" 
								data-type="shape"
								data-xy="xo:50px;yo:50px;"
								data-text="w:normal;c:both;"
								data-flcr="c:both;"
								data-dim="w:100%;h:10px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_999="o:0;st:w;sR:8700;"
								style="z-index:10;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-16" 
								data-type="text"
								data-color="rgba(0, 0, 0, 0.1)"
								data-xy="x:c,r,r,r;xo:-579px,982px,726px,30px;yo:260px,71px,130px,30px;"
								data-text="w:normal;s:40,40,40,30;l:40,40,40,30;"
								data-vbility="t,t,t,f"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;o:b;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.inOut;st:800;sp:1000;sR:800;"
								data-frame_999="st:w;sR:7200;auto:true;"
								style="z-index:22;font-family:'Manrope';"
							><i class="material-icons">close</i><br />
<i class="material-icons">radio_button_unchecked</i><br />
<i class="material-icons">change_history</i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-17" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:74px,-58px,5px,-90px;y:t,t,t,b;yo:479px,409px,318px,74px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:164px,135px,117px,126px;h:121px,99px,86px,93px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:3px,2px,1px,0px;y:54px,44px,33px,20px;oY:100%;oZ:0px;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s4_price.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-18" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:2px,-21px,-8px,-125px;y:t,t,t,b;yo:158px,153px,112px,92px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:367px,303px,230px,169px;h:517px,426px,323px,238px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s4_ring.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-20" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-445px,-345px,-271px,114px;y:t,t,t,b;yo:432px,407px,343px,-33px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:130px,107px,74px,80px;h:233px,192px,133px,143px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s4_hand.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-25" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-218px,-180px,-132px,-202px;y:t,t,t,b;yo:229px,216px,178px,256px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:131px,108px,82px,54px;h:174px,143px,108px,72px;"
								data-btrans="rZ:-16;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s4_arrow.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-31" 
								data-type="text"
								data-color="#1e96b5"
								data-rsp_ch="on"
								data-xy="xo:19px,57px,43px,17px;yo:-8px,23px,17px,-2px;"
								data-text="w:normal;s:217,179,135,140;l:244,201,152,159;ls:-11,-9,-6,-5;fw:800;"
								data-dim="minh:0,none,none,none;"
								data-btrans="rZ:-6;"
								data-frame_999="o:0;st:w;"
								style="z-index:23;font-family:'Poppins';"
							>FREE 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-33" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:846px,651px,501px,217px;yo:507px,461px,395px,230px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:323px,266px,202px,157px;h:83px,68px,51px,40px;"
								data-btrans="rZ:6;"
								data-frame_999="o:0;st:w;"
								style="z-index:24;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s4_pipe.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-35" 
								data-type="text"
								data-color="#411d5b"
								data-rsp_ch="on"
								data-xy="xo:853px,654px,502px,221px;yo:570px,516px,437px,264px;"
								data-text="w:normal;s:31,26,22,20;l:39,32,27,24;fw:900;"
								data-dim="w:auto,auto,247px,229px;"
								data-frame_999="o:0;st:w;"
								style="z-index:26;font-family:'Roboto';"
							>purchase of $85 or more 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-36" 
								data-type="text"
								data-color="#411d5b"
								data-rsp_ch="on"
								data-xy="xo:853px,660px,502px,220px;yo:483px,439px,369px,201px;"
								data-text="w:normal;s:31,26,22,20;l:25,20,27,28;fw:900;"
								data-dim="w:auto,auto,247px,110px;"
								data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
								data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;"
								data-frame_999="o:0;st:w;"
								style="z-index:25;font-family:'Roboto';"
							>with a 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-36-layer-37" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:884px,700px,519px,574px;yo:50px,21px,20px,54px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:317px,299px,227px,140px;h:348px,329px,250px,154px;"
								data-vbility="t,t,t,f"
								data-frame_999="o:0;st:w;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s4_people.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-33" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_background.png" data-anim="ms:500ms;" data-in="o:0;e:none;" data-out="e:none;" data-d3="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_background.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="f:100% 100%;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-3-slide-33-layer-0" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-255px,-218px,-206px,-10px;y:t,t,t,b;yo:73px,49px,41px,255px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:526px,434px,401px,331px;h:424px,350px,323px,267px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:3px,2px,1px,0px;y:54px,44px,33px,20px;oY:100%;oZ:0px;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_people2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-33-layer-1" 
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:8;background-color:#b21f6d;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-33-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_background.png" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-33-layer-6" 
								data-type="shape"
								data-xy="xo:50px;yo:50px;"
								data-text="w:normal;c:both;"
								data-flcr="c:both;"
								data-dim="w:100%;h:10px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_999="o:0;st:w;sR:8700;"
								style="z-index:15;"
							> 
							</rs-layer><!--

							--><h2
								id="slider-3-slide-33-layer-7" 
								class="rs-layer"
								data-type="text"
								data-xy="xo:738px,528px,421px,8px;yo:133px,150px,121px,290px;"
								data-text="w:normal;s:80,80,60,40;l:90,90,60,35;fw:800;"
								data-dim="w:482px,482px,357px,357px;h:auto,auto,128px,48px;"
								data-rsp_o="off"
								data-clip="u:true;"
								data-frame_0="y:0,0,0px,0px;o:1;cp:0%;"
								data-frame_1="x:34px,34px,35px,35px;y:-1px;e:power4.inOut;st:100;sp:1000;sR:100;"
								data-frame_999="st:w;sR:7900;auto:true;"
								style="z-index:16;font-family:'Poppins';"
							>Feeling Flirty? 
							</h2><!--

							--><rs-layer
								id="slider-3-slide-33-layer-8" 
								data-type="shape"
								data-xy="xo:749px,536px,430px,15px;yo:120px,139px,114px,275px;"
								data-text="w:normal;"
								data-dim="w:360px,300px,230px,150px;h:10px,10px,10px,5px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:28px;y:1px;e:power4.inOut;sp:1000;"
								data-frame_999="st:w;sR:8000;auto:true;"
								style="z-index:17;background-color:#f8b81b;"
							> 
							</rs-layer><!--

							--><p
								id="slider-3-slide-33-layer-9" 
								class="rs-layer"
								data-type="text"
								data-xy="xo:730px,524px,415px,0;yo:339px,355px,286px,362px;"
								data-text="w:normal;s:24,22,16,18;l:35,31,26,26;fw:500;"
								data-dim="w:464px,447px,303px,350px;h:auto,auto,auto,80px;"
								data-rsp_o="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:42px;y:-29px;e:power4.inOut;st:200;sp:1000;sR:200;"
								data-frame_999="st:w;sR:7800;auto:true;"
								style="z-index:14;font-family:'Manrope';"
							>Connect your vibe and hand over control to a partner from anywhere. Experience discreet ecstasy in public without limits. 
							</p><!--

							--><a
								id="slider-3-slide-33-layer-10" 
								class="rs-layer rev-btn"
								href="/collections/remote-controlled-vibrators" target="_blank" rel="noopener"
								data-type="button"
								data-xy="xo:663px,453px,346px,-69px;yo:448px,454px,374px,441px;"
								data-text="w:normal;s:15;l:15;ls:2px;"
								data-dim="minh:0px,none,none,none;"
								data-rsp_o="off"
								data-padding="t:11;r:22;b:11;l:22;"
								data-border="bor:6px,6px,6px,6px;"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:111px;y:-20px;e:power4.inOut;st:300;sp:1000;sR:300;"
								data-frame_999="st:w;sR:7700;auto:true;"
								data-frame_hover="sX:1.05;sY:1.05;bgc:#000;bor:0px,0px,0px,0px;sp:100ms;e:power1.inOut;"
								style="z-index:11;background-color:#411d5b;font-family:'Poppins';text-transform:uppercase;cursor:pointer;"
							>Shop now<i class="material-icons" style="margin-left:10px;">arrow_forward</i> 
							</a><!--

							--><rs-layer
								id="slider-3-slide-33-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:30px,30px,30px,17px;y:b,b,b,t;yo:30px,30px,30px,28px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:148px,122px,92px,56px;h:234px,193px,146px,90px;"
								data-clip="u:true;o:t;"
								data-frame_0="cp:0%;"
								data-frame_1="o:0.05;e:power4.inOut;st:900;sp:1000;sR:900;"
								data-frame_999="st:w;sR:7100;auto:true;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/stripepattern.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-33-layer-15" 
								data-type="shape"
								data-xy="xo:50px;yo:50px;"
								data-text="w:normal;c:both;"
								data-flcr="c:both;"
								data-dim="w:100%;h:10px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_999="o:0;st:w;sR:8700;"
								style="z-index:10;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-33-layer-16" 
								data-type="text"
								data-color="rgba(0, 0, 0, 0.1)"
								data-xy="x:c,r,r,r;xo:575px,30px,30px,30px;yo:199px,30px,30px,30px;"
								data-text="w:normal;s:40,40,40,30;l:40,40,40,30;"
								data-vbility="t,t,t,f"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;o:b;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.inOut;st:800;sp:1000;sR:800;"
								data-frame_999="st:w;sR:7200;auto:true;"
								style="z-index:22;font-family:'Manrope';"
							><i class="material-icons">close</i><br />
<i class="material-icons">radio_button_unchecked</i><br />
<i class="material-icons">change_history</i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-33-layer-20" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:604px,430px,350px,-335px;y:t,t,t,b;yo:-12px,-7px,-36px,280px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:287px,237px,180px,93px;h:244px,201px,152px,79px;"
								data-vbility="t,t,t,f"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:19;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_mouth.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-33-layer-21" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-212px,-290px,-163px,101px;y:t,t,t,b;yo:4px,69px,93px,324px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:262px,216px,164px,138px;h:299px,246px,186px,157px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:203px,167px,126px,77px;y:317px,261px,198px,122px;oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_lush.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-33-layer-22" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-230px,58px,82px,-59px;y:t,t,t,b;yo:504px,60px,65px,231px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:132px,109px,82px,69px;h:132px,109px,82px,69px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:-315px,-260px,-197px,-121px;y:-54px,-44px,-33px,-20px;oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:20;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_lips.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-33-layer-23" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:683px,564px,428px,303px;yo:378px,312px,237px,153px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:279px,230px,174px,107px;h:216px,178px,135px,83px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:-1237px,-1021px,-775px,-478px;y:-342px,-282px,-214px,-132px;oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:21;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s1_heart.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-34" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s2_background.png" data-anim="ms:500ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#0cd6ff;" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-3-slide-34-layer-0" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:438px,320px,226px,117px;y:t,t,t,b;yo:-95px,-69px,-15px,186px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:495px,408px,309px,291px;h:708px,584px,443px,416px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:3px,2px,1px,0px;y:54px,44px,33px,20px;oY:100%;oZ:0px;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s2_woman.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-34-layer-2" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="yo:1px,0,0,0;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:8;background-color:#0cd6ff;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-34-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s2_background.png" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-34-layer-6" 
								data-type="shape"
								data-xy="xo:50px;yo:50px;"
								data-text="w:normal;c:both;"
								data-flcr="c:both;"
								data-dim="w:100%;h:10px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_999="o:0;st:w;sR:8700;"
								style="z-index:11;"
							> 
							</rs-layer><!--

							--><h2
								id="slider-3-slide-34-layer-7" 
								class="rs-layer"
								data-type="text"
								data-color="#b10069"
								data-xy="xo:17px,5px,17px,6px;yo:218px,178px,144px,309px;"
								data-text="w:normal;s:86,80,60,40;l:90,70,60,35;fw:800;"
								data-dim="w:451px,451px,319px,319px;"
								data-rsp_o="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:34px;y:-1px;e:power4.inOut;st:100;sp:1000;sR:100;"
								data-frame_999="st:w;sR:7900;auto:true;"
								style="z-index:22;font-family:'Poppins';"
							>Get Knotty! 
							</h2><!--

							--><rs-layer
								id="slider-3-slide-34-layer-8" 
								data-type="shape"
								data-xy="xo:29px,18px,29px,14px;yo:207px,153px,140px,293px;"
								data-text="w:normal;"
								data-dim="w:360px,300px,230px,150px;h:10px,10px,10px,5px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:28px;y:1px;e:power4.inOut;sp:1000;"
								data-frame_999="st:w;sR:8000;auto:true;"
								style="z-index:12;background-color:#ffff00;"
							> 
							</rs-layer><!--

							--><p
								id="slider-3-slide-34-layer-9" 
								class="rs-layer"
								data-type="text"
								data-color="#30004d"
								data-xy="xo:13px,0,13px,4px;yo:428px,355px,300px,380px;"
								data-text="w:normal;s:24,22,16,20;l:36,32,26,25;fw:500,500,500,600;"
								data-dim="w:446px,446px,328px,407px;"
								data-rsp_o="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:42px;y:-29px;e:power4.inOut;st:200;sp:1000;sR:200;"
								data-frame_999="st:w;sR:7800;auto:true;"
								style="z-index:21;font-family:'Manrope';"
							>A kinky collection of fetish essentials to help you explore your deepest desires. 
							</p><!--

							--><a
								id="slider-3-slide-34-layer-10" 
								class="rs-layer rev-btn"
								href="/collections/bdsm" target="_blank" rel="noopener"
								data-type="button"
								data-xy="xo:-58px,-70px,-58px,-68px;yo:507px,436px,362px,433px;"
								data-text="w:normal;s:15;l:15;ls:2px;"
								data-dim="minh:0px,none,none,none;"
								data-rsp_o="off"
								data-padding="t:11;r:22;b:11;l:22;"
								data-border="bor:6px,6px,6px,6px;"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:111px;y:-20px;e:power4.inOut;st:300;sp:1000;sR:300;"
								data-frame_999="st:w;sR:7700;auto:true;"
								data-frame_hover="sX:1.05;sY:1.05;bgc:#000;bor:0px,0px,0px,0px;sp:100ms;e:power1.inOut;"
								style="z-index:20;background-color:#411d5b;font-family:'Poppins';text-transform:uppercase;cursor:pointer;"
							>Shop now<i class="material-icons" style="margin-left:10px;">arrow_forward</i> 
							</a><!--

							--><rs-layer
								id="slider-3-slide-34-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:30px;y:b,b,b,t;yo:30px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:148px,122px,92px,56px;h:234px,193px,146px,90px;"
								data-clip="u:true;o:t;"
								data-frame_0="cp:0%;"
								data-frame_1="o:0.05;e:power4.inOut;st:900;sp:1000;sR:900;"
								data-frame_999="st:w;sR:7100;auto:true;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/stripepattern.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-34-layer-15" 
								data-type="shape"
								data-xy="xo:50px;yo:50px;"
								data-text="w:normal;c:both;"
								data-flcr="c:both;"
								data-dim="w:100%;h:10px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_999="o:0;st:w;sR:8700;"
								style="z-index:10;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-34-layer-16" 
								data-type="text"
								data-color="rgba(0, 0, 0, 0.1)"
								data-xy="x:c,r,r,r;xo:450px,30px,30px,30px;yo:50px,30px,30px,30px;"
								data-text="w:normal;s:40,40,40,30;l:40,40,40,30;"
								data-vbility="t,t,t,f"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;o:b;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.inOut;st:800;sp:1000;sR:800;"
								data-frame_999="st:w;sR:7200;auto:true;"
								style="z-index:19;font-family:'Manrope';"
							><i class="material-icons">close</i><br />
<i class="material-icons">radio_button_unchecked</i><br />
<i class="material-icons">change_history</i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-34-layer-20" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:134px,147px,80px,-53px;y:t,t,t,b;yo:95px,70px,89px,233px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:547px,451px,275px,345px;h:396px,327px,199px,250px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s2_crop.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-34-layer-21" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:372px,282px,159px,70px;y:t,t,t,b;yo:154px,182px,182px,255px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:318px,262px,199px,185px;h:187px,154px,117px,109px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:203px,167px,126px,77px;y:317px,261px,198px,122px;oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s2_rope.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-34-layer-22" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-318px,239px,201px,-23px;y:t,t,t,b;yo:54px,43px,68px,194px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:299px,246px,186px,170px;h:200px,165px,125px,114px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:-315px,-260px,-197px,-121px;y:-54px,-44px,-33px,-20px;oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s2_cuffs.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-34-layer-23" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:1421px,239px,181px,480px;y:t,t,t,b;yo:717px,43px,72px,264px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:182px,150px,113px,138px;h:128px,105px,79px,97px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:-1237px,-1021px,-775px,-478px;y:-342px,-282px,-214px,-132px;oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s2_lips.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-35" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s3_background.png" data-anim="eng:transitionPack;d:20;e:tpbasic;ms:2500;" data-in="o:0;" data-out="a:false;" data-tpack='ef:flat;prange:100;tlt:0;x:0;y:-1;z:100;iny:1;pp:glitch2;ppfbw:;'>
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s3_background.png" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="off" data-no-retina>
<!--
							--><rs-layer
								id="slider-3-slide-35-layer-0" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-427px,-374px,-338px,-98px;y:t,t,t,b;yo:-65px,-49px,-36px,262px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:443px,365px,322px,200px;h:616px,508px,448px,278px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:3px,2px,1px,0px;y:54px,44px,33px,20px;oY:100%;oZ:0px;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s3_lingerie_woman.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-3" 
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:8;background-color:#97579e;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-6" 
								data-type="shape"
								data-xy="xo:50px;yo:50px;"
								data-text="w:normal;c:both;"
								data-flcr="c:both;"
								data-dim="w:100%;h:10px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_999="o:0;st:w;sR:8700;"
								style="z-index:11;"
							> 
							</rs-layer><!--

							--><h2
								id="slider-3-slide-35-layer-7" 
								class="rs-layer"
								data-type="text"
								data-xy="xo:704px,554px,404px,10px;yo:146px,141px,141px,285px;"
								data-text="w:normal;s:80,80,60,40;l:90,80,60,40;ls:0,0px,0px,0px;fw:800;"
								data-dim="w:536px,418px,303px,376px;"
								data-rsp_o="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:34px;y:-1px;e:power4.inOut;st:100;sp:1000;sR:100;"
								data-frame_999="st:w;sR:7900;auto:true;"
								style="z-index:23;font-family:'Poppins';"
							>Lacy and Racy 
							</h2><!--

							--><rs-layer
								id="slider-3-slide-35-layer-8" 
								data-type="shape"
								data-xy="xo:717px,564px,406px,9px;yo:135px,135px,138px,272px;"
								data-text="w:normal;"
								data-dim="w:360px,300px,276px,150px;h:10px,10px,10px,5px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="y:0,0,0px,0px;o:1;cp:0%;"
								data-frame_1="x:28px,28px,34px,34px;y:1px;e:power4.inOut;sp:1000;"
								data-frame_999="st:w;sR:8000;auto:true;"
								style="z-index:12;background-color:#efb81b;"
							> 
							</rs-layer><!--

							--><p
								id="slider-3-slide-35-layer-9" 
								class="rs-layer"
								data-type="text"
								data-xy="xo:702px,552px,398px,4px;yo:356px,325px,305px,363px;"
								data-text="w:normal;s:24,22,16,19;l:33,30,26,25;"
								data-dim="w:487px,422px,320px,400px;"
								data-rsp_o="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:42px;y:-29px;e:power4.inOut;st:200;sp:1000;sR:200;"
								data-frame_999="st:w;sR:7800;auto:true;"
								style="z-index:22;font-family:'Poppins';"
							>Lingerie that will make you irresistible. Slip into sensual garments designed to captivate your lover. 
							</p><!--

							--><a
								id="slider-3-slide-35-layer-10" 
								class="rs-layer rev-btn"
								href="/collections/lingerie" target="_blank" rel="noopener"
								data-type="button"
								data-xy="xo:632px,481px,329px,-68px;yo:462px,421px,396px,433px;"
								data-text="w:normal;s:15;l:15;ls:2px;"
								data-dim="minh:0px,none,none,none;"
								data-rsp_o="off"
								data-padding="t:11;r:22;b:11;l:22;"
								data-border="bor:6px,6px,6px,6px;"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="x:111px;y:-20px;e:power4.inOut;st:300;sp:1000;sR:300;"
								data-frame_999="st:w;sR:7700;auto:true;"
								data-frame_hover="sX:1.05;sY:1.05;bgc:#000;bor:0px,0px,0px,0px;sp:100ms;e:power1.inOut;"
								style="z-index:21;background-color:#411d5b;font-family:'Poppins';text-transform:uppercase;cursor:pointer;"
							>Shop now<i class="material-icons" style="margin-left:10px;">arrow_forward</i> 
							</a><!--

							--><rs-layer
								id="slider-3-slide-35-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r;xo:30px;y:b,b,b,t;yo:30px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:148px,122px,92px,56px;h:234px,193px,146px,90px;"
								data-clip="u:true;o:t;"
								data-frame_0="cp:0%;"
								data-frame_1="o:0.05;e:power4.inOut;st:900;sp:1000;sR:900;"
								data-frame_999="st:w;sR:7100;auto:true;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/stripepattern.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-12" 
								data-type="image"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s3_background.png" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-15" 
								data-type="shape"
								data-xy="xo:50px;yo:50px;"
								data-text="w:normal;c:both;"
								data-flcr="c:both;"
								data-dim="w:100%;h:10px;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_999="o:0;st:w;sR:8700;"
								style="z-index:10;"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-16" 
								data-type="text"
								data-color="rgba(0, 0, 0, 0.1)"
								data-xy="x:c,r,r,r;xo:450px,30px,30px,30px;yo:50px,30px,30px,30px;"
								data-text="w:normal;s:40,40,40,30;l:40,40,40,30;"
								data-vbility="t,t,t,f"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;o:b;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.inOut;st:800;sp:1000;sR:800;"
								data-frame_999="st:w;sR:7200;auto:true;"
								style="z-index:20;font-family:'Manrope';"
							><i class="material-icons">close</i><br />
<i class="material-icons">radio_button_unchecked</i><br />
<i class="material-icons">change_history</i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-20" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-141px,-163px,-141px,123px;y:t,t,t,b;yo:102px,102px,104px,299px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:363px,299px,259px,156px;h:420px,346px,300px,181px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s3_lingerie_woman_2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-21" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:292px,240px,179px,53px;y:t,t,t,b;yo:-417px,-305px,-213px,296px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:305px,251px,190px,195px;h:284px,234px,177px,182px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:203px,167px,126px,77px;y:317px,261px,198px,122px;oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s3_bra.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-22" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-265px,-224px,-176px,-332px;y:t,t,t,b;yo:519px,490px,436px,218px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:112px,92px,69px,56px;h:112px,92px,69px,56px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:-315px,-260px,-197px,-121px;y:-54px,-44px,-33px,-20px;oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:17;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s3_lips.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-23" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:1028px,812px,563px,527px;y:t,t,t,b;yo:356px,322px,283px,296px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:182px,150px,113px,100px;h:128px,105px,79px,70px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:-1237px,-1021px,-775px,-478px;y:-342px,-282px,-214px,-132px;oY:100%;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:18;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s2_lips.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-35-layer-24" 
								class="rs-pxl-1"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-211px,-374px,-338px,-6px;y:t,t,t,b;yo:467px,-49px,-36px,310px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:96px,79px,322px,56px;h:98px,80px,448px,57px;"
								data-frame_0="sX:0.8;sY:0.8;oY:100%;bri:300%;"
								data-frame_1="x:3px,2px,1px,0px;y:54px,44px,33px,20px;oY:100%;oZ:0px;e:power4.inOut;sp:1500;"
								data-frame_999="st:w;sR:7500;auto:true;"
								style="z-index:14;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0512/1323/8434/t/32/assets/fm_s2_heart.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'home-hero-slider',rl:[1240,1024,778,480],el:[700,600,500,500],gw:[1240,1024,778,480],gh:[700,600,500,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["homeheroslider"]!==undefined) {window.RS_MODULES.modules["homeheroslider"].once = false;window.revapi3 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><script type="text/javascript">window.RVS = window.RVS || {}; window.RVS.ENV = window.RVS.ENV || {}; window.RVS.ENV.TRANSITIONPACK_URL = "https://editor.revsliderapp.com/libraries//addons/revslider-transitionpack-addon/";</script>
<script type="text/javascript">window.RVS = window.RVS || {}; window.RVS.ENV = window.RVS.ENV || {}; window.RVS.ENV.TRANSITIONPACK_URL = "https://editor.revsliderapp.com/libraries//addons/revslider-transitionpack-addon/";</script>
<link href="https://fonts.googleapis.com/css?family=Roboto:400%2C900%7CPoppins:700%2C400%2C800%7CManrope:400%2C500%2C600" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<script src="{{asset_url_rev}}revolution.addon.transitionpack.min.js?ver=6.5.6.16"></script>
<script src="{{asset_url_rev}}three.min.js?ver=6.5.6.16"></script>
<style type="text/css" id="rs-plugin-settings-inline-css">		.home-hero-slider_wrapper h2{font-family:'Poppins',Arial,sans-serif; font-weight:800}
		#home-hero-slider_wrapper .ares.tp-bullets{}#home-hero-slider_wrapper .ares.tp-bullets:before{content:' ';position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}#home-hero-slider_wrapper .ares .tp-bullet{width:13px;height:13px;position:absolute;background:#e5e5e5;border-radius:50%;cursor:pointer;box-sizing:content-box}#home-hero-slider_wrapper .ares .tp-bullet.rs-touchhover,#home-hero-slider_wrapper .ares .tp-bullet.selected{background:#ffffff}#home-hero-slider_wrapper .ares .tp-bullet-title{position:absolute; color:#888888; font-size:12px; padding:0px 10px; font-weight:600; right:27px; top:-4px;  background:rgba(255,255,255,0.75); visibility:hidden; transform:translatex(-20px); -webkit-transform:translatex(-20px); transition:transform 0.3s; -webkit-transition:transform 0.3s; line-height:20px; white-space:nowrap}#home-hero-slider_wrapper .ares .tp-bullet-title:after{width:0px;height:0px;border-style:solid;border-width:10px 0 10px 10px;border-color:transparent transparent transparent rgba(255,255,255,0.75);content:' ';  position:absolute;  right:-10px;top:0px}#home-hero-slider_wrapper .ares .tp-bullet.rs-touchhover .tp-bullet-title{visibility:visible;  transform:translatex(0px); -webkit-transform:translatex(0px)}#home-hero-slider_wrapper .ares .tp-bullet.selected.rs-touchhover .tp-bullet-title{background:#ffffff}#home-hero-slider_wrapper .ares .tp-bullet.selected.rs-touchhover .tp-bullet-title:after{border-color:transparent transparent transparent #ffffff}#home-hero-slider_wrapper .ares.tp-bullets.rs-touchhover .tp-bullet-title{visibility:hidden}#home-hero-slider_wrapper .ares.tp-bullets.rs-touchhover .tp-bullet.rs-touchhover .tp-bullet-title{visibility:visible;  transform:translateX(0px) translatey(0px); -webkit-transform:translateX(0px) translatey(0px)}#home-hero-slider_wrapper .ares.nav-dir-vertical.nav-pos-hor-left .tp-bullet-title{right:auto; left:27px; transform:translatex(20px); -webkit-transform:translatex(20px)}#home-hero-slider_wrapper .ares.nav-dir-vertical.nav-pos-hor-left .tp-bullet-title:after{border-width:10px 10px 10px 0 !important; border-color:transparent rgba(255,255,255,0.75) transparent transparent; right:auto !important; left:-10px !important}#home-hero-slider_wrapper .ares.nav-dir-vertical.nav-pos-hor-left .tp-bullet.selected.rs-touchhover .tp-bullet-title:after{border-color:transparent #ffffff transparent transparent !important}#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet-title,#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet-title{top:-35px; left:50%; right:auto; transform:translateX(-50%) translateY(-10px);-webkit-transform:translateX(-50%) translateY(-10px)}#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet-title:after,#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet-title:after{border-width:10px 10px 0px 10px; border-color:rgba(255,255,255,0.75) transparent transparent transparent; right:auto; left:50%; margin-left:-10px; top:auto; bottom:-10px}#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet.selected.rs-touchhover .tp-bullet-title:after,#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet.selected.rs-touchhover .tp-bullet-title:after{border-color:#ffffff transparent transparent transparent}#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-center .tp-bullet.rs-touchhover .tp-bullet-title,#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-bottom .tp-bullet.rs-touchhover .tp-bullet-title{transform:translateX(-50%) translatey(0px); -webkit-transform:translateX(-50%) translatey(0px)}#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-title{top:25px; left:50%; right:auto; transform:translateX(-50%) translateY(10px);-webkit-transform:translateX(-50%) translateY(10px)}#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-top .tp-bullet-title:after{border-width:0 10px 10px 10px; border-color:transparent transparent rgba(255,255,255,0.75) transparent; right:auto; left:50%; margin-left:-10px; bottom:auto; top:-10px}#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-top .tp-bullet.selected.rs-touchhover .tp-bullet-title:after{border-color:transparent transparent #ffffff transparent}#home-hero-slider_wrapper .ares.nav-dir-horizontal.nav-pos-ver-top .tp-bullet.rs-touchhover .tp-bullet-title{transform:translateX(-50%) translatey(0px); -webkit-transform:translateX(-50%) translatey(0px)}
		@font-face{font-family:'Material Icons'; font-style:normal; font-weight:400; src:url(//fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2')}rs-module .material-icons{font-family:'Material Icons'; font-weight:normal; font-style:normal; font-size:inherit; display:inline-block; text-transform:none; letter-spacing:normal; word-wrap:normal; white-space:nowrap; direction:ltr; vertical-align:top; line-height:inherit;  font-feature-settings:'liga'; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; -moz-osx-font-smoothing:grayscale}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi3;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["homeheroslider"] = {init:function() {
			window.revapi3 = window.revapi3===undefined || window.revapi3===null || window.revapi3.length===0  ? document.getElementById("home-hero-slider") : window.revapi3;
			if(window.revapi3 === null || window.revapi3 === undefined || window.revapi3.length==0) { window.revapi3initTry = window.revapi3initTry ===undefined ? 0 : window.revapi3initTry+1; if (window.revapi3initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["homeheroslider"].init()}); return;}
			window.revapi3 = revQuery(window.revapi3);
			if(window.revapi3.revolution==undefined){ revslider_showDoubleJqueryError("home-hero-slider"); return;}
			revapi3.revolutionInit({
					revapi:"revapi3",
					DPR:"dpr",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"64b7fbc7ccfec",
					gridwidth:"1240,1024,778,480",
					gridheight:"700,600,500,500",
					lazyType:"smart",
					spinner:"spinner7",
					forceOverflow:true,
					perspective:600,
					perspectiveType:"global",
					spinnerclr:"#000000",
					imgCrossOrigin:"anonymous",
					editorheight:"700,600,500,500",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true
						},
						bullets: {
							enable:true,
							tmp:"<span class=\"tp-bullet-title\">{% echo '{{title}}' %}</span>",
							style:"ares",
							h_align:"right",
							h_offset:20,
							v_offset:25,
							container:"layergrid"
						}
					},
					parallax: {
						levels:[1,2,3,-1,-2,30,35,40,45,46,47,48,49,50,51,30],
						type:"mouse",
						origo:"slidercenter",
						speed:"1000ms"
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"0px",
						presize:true
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
						if (revapi3 !== undefined) tpj.fn.revolution.transitionpackInit(revapi3[0].id, {url:"https://editor.revsliderapp.com/libraries//addons/revslider-transitionpack-addon/"});
						 window.TP_SHDRS = window.TP_SHDRS || {};
						 window.TP_SHDRS.flat =    window.TP_SHDRS.flat || `uniform float zoom; uniform float prange; uniform float tilt; uniform float left; uniform float top; uniform vec4 resolution; uniform float progress; uniform sampler2D src1; uniform sampler2D src2; uniform sampler2D displacement; varying vec2 vUv; vec2 mirror(vec2 v) { vec2 m = mod(v, 2.0); return mix(m, 2.0 - m, step(1.0, m)); } float map(float a, float b, float c, float d, float v, float cmin, float cmax) { return clamp((v - a) * (d - c) / (b - a) + c, cmin, cmax); } vec2 rotateUV(vec2 uv, float rotation, vec2 mid) { return vec2(cos(rotation) * (uv.x - mid.x) + sin(rotation) * (uv.y - mid.y) + mid.x, cos(rotation) * (uv.y - mid.y) - sin(rotation) * (uv.x - mid.x) + mid.y); } void main() { vec2 uv = (vUv - vec2(0.5)) * resolution.zw + vec2(0.5); float m = progress; m = smoothstep(0., 1., m); vec2 nUv = vec2(.0, .0); if (tilt != 0.) { float tm = map(0.5, 1., 0., 10., m, 0., 10.); float mc = tm > 9.999 ? 0. : (tm < 8.236 ? max(0., sin(tm / 6.)) : sin(tm - 0.58)); mc = map(0., 10.005, 0., 3., mc, 0., 10.005); nUv = rotateUV(uv, mc * -radians(360. * tilt), vec2(.5, .5)); nUv.x += m * left; nUv.y += m * top; } else { nUv = vec2(uv.x + m * left, uv.y + m * top); } nUv.x -= 0.5; nUv.y -= 0.5; nUv *= 1. + (sin(m * 3.141592653)) * (1. / zoom - 1.); nUv.x += 0.5; nUv.y += 0.5; nUv = mirror(nUv); vec2 nUvIn = nUv; if(mod(left, 2.0) != 0.) nUvIn.x *= -1.; if(mod(top, 2.0) != 0.) nUvIn.y *= -1.; float nprog = map((0.5 - prange), (0.5 + prange), 0., 1., m, 0., 1.); vec4 col = mix(TEXTURE2D(src1, nUv), TEXTURE2D(src2, nUvIn), nprog); gl_FragColor = col; }`;

		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_fashion-shop-slider1" ).after( "<div id='revslider_show_fashion-shop-slider1'></div>" );
                            revQuery( "#revslider_drag_fashion-shop-slider1" ).hide();
                            revQuery("#revslider_foot_fashion-shop-slider1").appendTo("#revslider_show_fashion-shop-slider1");
                            revQuery("#revslider_show_fashion-shop-slider1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>