<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  {%- comment -%}DemoStoreRequirements{%- endcomment -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  {%- unless settings.type_header_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'photoswipe.min.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'theme.min.css' | asset_url | stylesheet_tag: preload: true }}
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}

  {% if settings.animations_enabled %}
    {{ 'animate.min.css' | asset_url | stylesheet_tag: preload: true }}
  {% endif %}

  {% if settings.popup--enable %}
    {{ 'fancybox.min.css' | asset_url | stylesheet_tag: preload: true }}
  {% endif %}

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 180, height: 180, crop: 'center' }}" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | image_url: width: 180, height: 180, crop: 'center' }}">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ settings.favicon | image_url: width: 180, height: 180, crop: 'center' }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | image_url: width: 32, height: 32, crop: 'center' }}">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ settings.favicon | image_url: width: 194, height: 194, crop: 'center' }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ settings.favicon | image_url: width: 192, height: 192, crop: 'center' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | image_url: width: 16, height: 16, crop: 'center' }}">
  {% endif %}

  {%- unless settings.type_header_font.system? -%}
    {% # theme-check-disable AssetPreload %}
    <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {% # theme-check-enable AssetPreload %}
  {%- endunless -%}
  {%- unless settings.type_base_font.system? -%}
    {% # theme-check-disable AssetPreload %}
    <link rel="preload" as="font" href="{{ settings.type_base_font | font_url }}" type="font/woff2" crossorigin>
    {% # theme-check-enable AssetPreload %}
  {%- endunless -%}

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% render 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PKJ4L2NQ');</script>
  <!-- End Google Tag Manager -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=GT-PL9TVMH5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'GT-PL9TVMH5');
  </script>

  <!-- Start Google remarketing code -->     
  <script type="text/javascript">
    {% if template contains 'cart' %}
    gtag('event', 'cart_view', {
        'send_to': 'AW-16473957755',
        'value': '{{ cart.total_price | money_without_currency  | remove: ','  }}',
        'items': [{
            'id': '[{% for item in cart.items %}'{{ item.product.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}]',
            'google_business_vertical': 'retail'
        }]
    });
    
    {% elsif template contains 'product' %}
    
    gtag('event', 'product_view', {
        'send_to': 'AW-16473957755',
        'value': '{{ product.price | money_without_currency  | remove: ','  }}',
        'items': [{
            'id': {{ product.id }},
            'google_business_vertical': 'retail'
        }]
    });  
    {% endif %}  
    </script>    
    <!-- End Google remarketing code -->
  
  <!-- CSS ================================================== -->
  {% render 'css-variables' %}
  {% style %}
    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }

    html {
      box-sizing: border-box;
      background-color: var(--body-color);
      height: 100%;
      margin: 0;
    }

    body {
      background-color: var(--body-color);
      min-height: 100%;
      margin: 0;
      display: grid;
      grid-template-rows: auto auto 1fr auto;
      grid-template-columns: 100%;
      overflow-x: hidden;
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    .sr-only-focusable:active, .sr-only-focusable:focus {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
    }
  {% endstyle %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  <script type="text/javascript">
		window.wetheme = {
			name: 'Flow',
			webcomponentRegistry: {
        registry: {},
				checkScriptLoaded: function(key) {
					return window.wetheme.webcomponentRegistry.registry[key] ? true : false
				},
        register: function(registration) {
            if(!window.wetheme.webcomponentRegistry.checkScriptLoaded(registration.key)) {
              window.wetheme.webcomponentRegistry.registry[registration.key] = registration
            }
        }
      }
    };
	</script>

  {% if template contains 'customers' %}
    {% # theme-check-disable ParserBlockingScriptTag %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% # theme-check-enable ParserBlockingScriptTag %}
  {% endif %}

  {% if template.name == 'article' %}
    <script src="{{ 'textSlideshow.js' | asset_url }}" defer="defer"></script>
  {% endif %}

  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

  {% if template.name == 'index' %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Thirtyyears",
    "url": "https://thirtyyears.com/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://thirtyyears.com/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
  {% endif %}

  {% if template.name == 'index' %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Thirty Years",
    "description": "Thirty Years is a Los Angeles-based, women’s premium fashion label that offers timeless wardrobe basics designed for everyday life. We create essentials such as tops, pants, and dresses with a focus on versatility, quality, and inclusive sizing.",
    "url": "https://thirtyyears.com/",
    "logo": "https://thirtyyears.com/cdn/shop/files/BIGTY_BLACK_72aaf1b0-4a6c-428b-9b75-22b0b8531a19.png?v=1709792609&width=750",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "707-656-1968",
      "email": "orders@thirtyyears.com",
      "contactType": "customer service",
      "areaServed": "US",
      "availableLanguage": "en"
    },
      "address": {
          "@type": "PostalAddress",
          "addressLocality": "Canoga Park",
          "addressCountry": "US",
          "addressRegion": "CA",
          "postalCode": "91303"
    },
    "sameAs": [
      "http://instagram.com/thirtyyears",
      "http://pinterest.com/thirtyyears_/",
      "https://www.tiktok.com/@thirtyyears"
    ]
  },

  </script>
  {% endif %}

  {% if page.handle == 'faq' %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Can I change/ Cancel my order?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Please contact orders@thirtyyears.com right away if you wish to change or cancel your order. Once our warehouse has processed your order, we will be unable to make any changes/cancellations."
        }
      },{
        "@type": "Question",
        "name": "Where Is My Order Confirmation?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "You will receive an email confirmation to the email address you entered on your order. If you have not received an email confirmation, please check your spam folder. If you have not received an email confirmation, then the order has not gone through or you did not enter your email address correctly. Please contact orders@thirtyyears.com for further assistance."
        }
      },{
        "@type": "Question",
        "name": "What If I Recieved an Incorrect/Damaged Item?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "If you have received an incorrect item, please contact orders@thirtyyears.com within 3 days of receiving the incorrect item. Please include a photo of the incorrect item and order slip you received with your email correspondence. If not reported within 3 days, a replacement/refund will not be issued.
    We do not accept any returns or exchanges on items that have been washed, worn, or appear to have been damaged by the customer."
        }
      },{
        "@type": "Question",
        "name": "Are you Filling Out Your Address Correctly?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We want you to receive your order as quick as possible! Please be thorough when filling out your shipping address to avoid any mistakes and/or delays. For example, always include 'unit' or 'apartment #' whenever applicable. Also, be sure to separate addresses between \"Address Line 1\" & \"Address Line 2\". See below:

    First Name | Last Name

    Company (optional)

    Address

    Apartment, suite, etc. (optional)

    City

    ------

    If you fail to enter your information properly and our system cannot verify the address, you order will be placed on hold. If we do not receive an address confirmation and/or correction from you, your order may be cancelled."
        }
      },{
        "@type": "Question",
        "name": "Was I Charged More Than Once?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "What you are seeing on your bank account is an authorization (a common bank practice handling credit card transactions to ensure sufficient funds and account authenticity). Depending on your bank, pending authorizations on your account will clear within 3 - 7 business days. If you need help speeding up the process, you can contact the issuing bank of your credit card."
        }
      },{
        "@type": "Question",
        "name": "Why Won't My Discount/Credit Code Work?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Please be sure your code is entered correctly and applied before submitting your order. Promotional codes do expire; please look at the terms and conditions of the discount code to make sure the offer is still valid.

    If you have received a unique code from us, please keep in mind it can only be used once and cannot be combined with another promotion or be applied to shipping costs. Unique credit codes do not expire.

    All promotions and/or codes cannot be applied after the transaction is complete.

    **Discount codes are not applicable to items already on sale."
        }
      },{
        "@type": "Question",
        "name": "Situations Beyond Our Control",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Thirty Years shall not be held liable for service interruption arising from situations beyond our control. These may include, but are not limited to: incorrect shipping information, inability to obtain consignee signature, refusal of shipment, riots, strikes or labor disputes, natural disasters, and acts of God."
        }
      }]
    }
  </script>
  {% endif %}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if template == 'page.contact' %}contact-page {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% unless settings.animations_enabled %} animations-disabled{% endunless %}{% if settings.page_fade_enabled %} page-fade{% endif %}{% if settings.color_body_bg == settings.header-bg-color %} white--match{% endif %}{% if settings.product-grid != 'natural' %} images-aspect-ratio{% endif %} ">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKJ4L2NQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <noscript>{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}</noscript>
  <noscript>{{ 'photoswipe.min.css' | asset_url | stylesheet_tag }}</noscript>
  {% if settings.animations_enabled %}
  	<noscript>{{ 'animate.min.css' | asset_url | stylesheet_tag }}</noscript>
  {% endif %}
  {% if settings.popup--enable %}
  	<noscript>{{ 'fancybox.min.css' | asset_url | stylesheet_tag }}</noscript>
  {% endif %}
  <noscript>{{ 'custom.css' | asset_url | stylesheet_tag }}</noscript>

  {% comment %}
  Cart Drawer, also used by 'Quick View', and 'Search'
  {% endcomment %}
  {% render 'right-drawer' %}

  <div id="DrawerOverlay" class="drawer-overlay"></div>

  <div id="PageContainer" data-editor-open="{{ request.design_mode }}" data-cart-action="{{ settings.ajax_cart_method }}" data-language-url="{{ localization.language.root_url }}">
    <div class="no-js disclaimer">
      <p>This store requires javascript to be enabled for some features to work correctly.</p>
    </div>

    {% sections 'header-group' %}

    {% if settings.enable_breadcrumbs %}
      {% unless template == 'index' or template == 'cart' or template == 'search' %}
        {% unless template.name == 'collection' or template == 'list-collections' or template contains 'contact' or template.name == 'product' %}
          <div id="breadcrumbs" class="wrapper-padded">
            {% render 'breadcrumb' %}
          </div>
        {% endunless %}
      {% endunless %}
    {% endif %}

    {% if template == 'index' %}
      <div class="flow-homepage">
    {% elsif template == 'cart' or template contains 'customers/' %}
      <div class="main-content page-main--wrapper">
    {% else %}
      <div class="wrapper main-content page-main--wrapper">
    {% endif %}

        {{ content_for_layout }}
      </div>
  </div>

  <div class="footer-wrapper">
      {% sections 'footer-group' %}
    </div>

  <script defer type="module" src="{{ 'theme.min.js' | asset_url }}"></script>
  <script defer src="{{ 'SafeLoadScripts.js' | asset_url }}"></script>
  <script defer nomodule src="{{ 'theme.legacy.min.js' | asset_url }}"></script> 
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script defer type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script defer src="{{ 'custom.js' | asset_url }}"></script>

  {% if settings.popup--enable %}
    {% render 'popup' %}
  {% endif %}

  {% if settings.enable_verification_popup %}
    {% render 'verification-popup' %}
  {% endif %}

  {% render 'back-to-top-button' %}

  <script type="application/json" id="wetheme-global">
    {
      {% comment %}Translations that will be used in javascript section handling{% endcomment %}
      "translations": {
        "addToCart": {{ 'products.product.add_to_cart' | t | json }},
        "added": {{ 'products.product.added' | t | json }},
        "soldOut": {{ 'products.product.sold_out' | t | json }},
        "unavailable": {{ 'products.product.unavailable' | t | json }},
        "no_results_html": {{ 'general.search.no_results_html' | t | json }},
        "results_for_html": {{ 'general.search.results_for_html' | t | json }},
        "products": {{ 'general.search.products' | t | json }},
        "pages": {{ 'general.search.pages' | t | json }},
        "collections": {{ 'general.search.collections' | t | json }},
        "articles": {{ 'general.search.articles' | t | json }},
        "suggestions": {{ 'general.search.suggestions' | t | json }},
        "quick_shop": {{ 'products.product.quick_shop' | t | json }},
        "view_options": {{ 'products.product.view_options' | t | json }},
        "read_more_html": {{ 'products.product.read_more_html' | t | json }},
        "read_less_html": {{ 'products.product.read_less_html' | t | json }},
        "youve_viewed": {{ 'collections.paginate.youve_viewed' | t | json }},
        "load_more": {{ 'collections.paginate.load_more' | t | json }},
        "productAdded": {{ 'products.product.added' | t | json }},
        "loading": {{ 'collections.paginate.loading' | t | json }},
        "giftwrap_label": {{ 'products.general.giftwrap_label' | t | json }},
        "yes": {{ 'products.general.yes' | t | json }},
        "days": {{ 'general.time.days' | t | json }},
        "hours": {{ 'general.time.hours' | t | json }},
        "minutes": {{ 'general.time.minutes' | t | json }},
        "seconds": {{ 'general.time.seconds' | t | json }}
      },
      "moneyFormat": {{ shop.money_format | json }},
      "giftwrapProduct": {{ settings.giftwrap_product_selector | json }}
    }
  </script>
  {% if request.design_mode %}<script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>{% endif %}

        <!-- Begin Shopify-Afterpay JavaScript Snippet (v1.2.1) -->
{% if cart.currency.iso_code == shop.currency %}
<script type="text/javascript">
// Overrides:
// var afterpay_msg_size = 'sm';  // Can be 'xs', 'sm', 'md' or 'lg'.
// var afterpay_bold_amount = true;
// var afterpay_logo_theme = 'colour';  // Can be 'colour', 'black' or 'white'.
// var afterpay_modal_open_icon = true;
// var afterpay_hide_upper_limit = false;
// var afterpay_hide_lower_limit = true;
// var afterpay_show_if_outside_limits = true;

// var afterpay_product_integration_enabled = true;
var afterpay_product_selector = '.shopify-payment-terms__container ';
// var afterpay_variable_price_fallback = false;
// var afterpay_variable_price_fallback_selector = '';
// var afterpay_variable_price_fallback_method = 'mutation';  // Can be 'mutation' or 'interval'.

// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';
// var afterpay_variable_subtotal_fallback = false;
// var afterpay_variable_subtotal_fallback_selector = '';
// var afterpay_variable_subtotal_fallback_method = 'mutation'; // Can be 'mutation' or 'interval'.

// var afterpay_dynamic_cart_integration_enabled = false;
// var afterpay_dynamic_cart_selector = '.cart-drawer__footer .totals';
// var afterpay_dynamic_cart_observer_target = '#CartDrawer';

// var afterpay_footer_logo_enabled = true;
// var afterpay_footer_logo_format = 'icon';  // Can be 'icon', 'stacked' or 'logo'.
// var afterpay_footer_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
// var afterpay_footer_logo_background = 'border';  // Can be 'border' or 'transparent'.
// var afterpay_footer_logo_container = 'footer ul.payment-icons';
// var afterpay_footer_logo_template = '<li class="payment-icon"><object data="{logo_path}" type="image/svg+xml"></object></li>';

// Non-editable fields:
var afterpay_js_language = {{ localization.language.iso_code | slice: 0, 2 | json }};
var afterpay_js_country = {{ localization.country.iso_code | json }};
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};
var afterpay_product = {{ product | json }};
var afterpay_product_collections = {{ product.collections | map: 'title' | join: ',' | json }};
var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_cart_skus = {{cart.items | map: 'sku' | join: ',' | json }};
var afterpay_cart_collections = {{cart.items | map: 'product' | map: 'collections' | map: 'title' | uniq | join: ',' | json }};
var afterpay_js_snippet_version = '1.2.1';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
{% else %}
<!-- Afterpay disabled: {{ cart.currency.iso_code }} != {{ shop.currency }} -->
{% endif %}
<!-- End Shopify-Afterpay JavaScript Snippet (v1.2.1) -->

          <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script> 
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "WeM9aQ",
      list: 'XwAYxa',
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "btn",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#000",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>

        </script>
        <style>
          span.upcart-do-not-modify-this-node-please-only-modify-child-node:has([href*="navidium"]) {
    display: none;
}
        </style>
    <script src="https://navidium-static-assets.s3.amazonaws.com/navidium-widgets/extension/navidium-extension-checker.js"></script>
      </div>

 
</body>
</html>
