<div class="image-duo-block__wrapper">
  <div class="image-duo-block__inner">
    <div class="image-duo-block__items">
      {% for block in section.blocks %}
  <div
    class="image-duo-block__item image-duo-block-outer-{{ block.id }}"
    style="background-image: url('{{ block.settings.block_background_image | img_url: '2000x' }}');"
  >
    <div class="image-duo-block__item__inner image-duo-block-{{ block.id }}">
      <div class="image-duo-block__image">
        {{ block.settings.block_image | image_url: width: 1000 | image_tag }}
      </div>
      <div class="image-duo-block__heading">
      <h2>
        <span {% if block.settings.heading_background_image != blank %}style="background-image: url('{{ block.settings.heading_background_image | img_url: '200x' }}');" {% endif %}>
          {{ block.settings.heading }}
        </span>
      </h2>
    </div>
    <div class="image-duo-block__content rte">
      {{ block.settings.rich_text }}
    </div>
    <a href="{{ block.settings.button_url }}" class="button">{{ block.settings.button_text }}</a>
    </div>
  </div>
{% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Duo Block",
  "max_blocks": 2,
  "blocks": [
    {
      "type": "custom_block",
      "name": "Custom Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Main Image for the Block"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "heading_background_image",
          "label": "Background Image for Heading"
        },
        {
          "type": "richtext",
          "id": "rich_text",
          "label": "Rich Text"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Click Here"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "image_picker",
          "id": "block_background_image",
          "label": "Background Image for the Block"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Duo Block",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  .image-duo-block__items {
    display: flex;
}

.image-duo-block__item {
    width: 50%;
    padding: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-duo-block__content {
    color: white;
    text-align: center;
}

.image-duo-block__item {
    display: flex;
    flex-direction: column;
}

.image-duo-block__heading h2 {
    padding: 5px;
    color: white;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
}

.image-duo-block__heading h2 span{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.image-duo-block__content.rte {
    padding: 40px 0;
}

.image-duo-block__item__inner a.button {
    max-width: 200px;
    background-color: #f8b71a;
    border: #f8b71a;
}
.image-duo-block__image img{
    display: flex;
    max-width: 500px;
    height: auto;
    margin: auto;
}

.image-duo-block__item__inner{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    text-align: left;
    color: #41215b;
}

.image-duo-block__content.rte {
    padding-top: 10px;
    text-align: left;
    color: #41215b;
    font-weight: 500;
}

.image-duo-block__heading h2{
    color: #41215b;
    font-weight: 800;
    text-align: left;
}

@media(max-width: 1070px){
    .image-duo-block__items {
    display: flex;
        flex-direction: column;
        
}
    .image-duo-block__item {
    width: 100%;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    .image-duo-block__image img{
    display: flex;
    width: auto !important;
    height: auto;
    margin: auto;
}

}


</style>